<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birds</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/statics/pet_style.css">
    <link rel="stylesheet" href="pet.html">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <a class="navbar-brand fw-bold" href="#">P<span style="color:rgb(3, 58, 3);">E</span>T STORE</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5501/templates/pet.html">Home</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5500/templates/joinus.html">Join Us</a>
              </li>
              
              
            </ul>
            
          </div>
        </div>
      </nav>


      <!--gallery_row1-->


      <div class="container">
        <div class="row mt-5">
          
          <div class="col-4">
           <div class="card border-0 mx-5" style="width: 250px; height:auto;">
            <img src="/app_pet/static/media/birds/dominik-lange-BFsm5vldl2I-unsplash.jpg" style="height: 450px; width: 300px;" class="card-img-top" alt="...">
        
             
           </div>
           </div>

           <div class="col-4">
            <div class="card border-0 mx-5" style="width: 300px; height:auto">
              <img src="/app_pet/static/media/birds/zdenek-machacek-eqXiLNfZDc0-unsplash.jpg" style="height: 450px" class="card-img-top " alt="...">
         
               
            </div>
            </div>


            <div class="col-4 ">
              <div class="card border-0 " style="width: 300px; height: auto">
               <img src="/app_pet/static/media/birds/atanas-dzhingarov-a4Wn6M18J-w-unsplash.jpg" class="card-img-top style=height:100px" alt="...">
           
               
            </div>
            </div>

          </div>
          </div>



          <!--gallery_row1-->

<!--row2-->
      <div class="container">
        <div class="row mt-5">
          
          <div class="col-4">
           <div class="card border-0 mx-5" style="width: 250px; height:auto;">
            <img src="/app_pet/static/media/birds/roi-dimor-BHA9lIa48kY-unsplash.jpg" style="height: 400px; width: 300px;" class="card-img-top" alt="...">
        
             
           </div>
           </div>

           <div class="col-4">
            <div class="card border-0 mx-5" style="width: 300px; height:auto">
              <img src="/app_pet/static/media/birds/david-clode-K4vHlGVX0Hs-unsplash.jpg" style="height: 400px" class="card-img-top " alt="...">
         
               
            </div>
            </div>


            <div class="col-4 ">
              <div class="card border-0 " style="width: 300px; height: auto">
               <img src="/app_pet/static/media/birds/thaaii-la-IU8sAQQyB0o-unsplash.jpg" style="height:400px ;" class="card-img-top style=height:100px" alt="...">
           
               
            </div>
            </div>

          </div>
          </div>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
 
<script src="/bootstrap/js/bootstrap.js"></script>
    
    
</body>
</html>