<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="pet.css">
    <link rel="stylesheet" href="pet.html">
    <style>
      .signup{
        background-color: rgb(234, 239, 243);
        padding-top: 20px;
        padding-left: 50px;
        padding-right:0;
        padding-bottom: 50px;
        margin-left: 60px;
        margin-right: 60px;
        text-align: center;
      }
      input{
        border-radius: 1px;
        
      }
    </style>

    

    
</head>
<body>


      <div class="signup">
        <form>
          <h1>SIGN UP</h1>
          Email:
          <input type="text" name="email" id="name"><br><br>
          Password:
          <input type="text" name="password" id="name"><br><br>
          Confirm password:
          <input type="text" name="cpassword" id="name"><br><br>
          Phone:
          <input type="text" name="phone" id="name"><br><br>
          <button type="button">Submit</button>
        </form>
      </div>



 
    
    
</body>
</html>